[default]
AIRFLOW_UID=1002

# Destination Database / Личная БД
DB_DESTINATION_HOST=rc1b-uh7kdmcx67eomesf.mdb.yandexcloud.net
DB_DESTINATION_PORT=6432
DB_DESTINATION_NAME=playground_mle_20250228_1d75c84a52
DB_DESTINATION_USER=
DB_DESTINATION_PASSWORD=

# S3 Connection / Соединение с S3
S3_BUCKET_NAME=s3-student-mle-20250228-1d75c84a52
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL=https://storage.yandexcloud.net
